proxy-providers-anchor:
  PProviders: &PProviders {proxy: DIRECT, type: http, interval: 86400, health-check: {enable: true, url: "https://www.gstatic.com/generate_204", interval: 300}}
# 必须填入订阅链接
proxy-providers:
  Airport1:
    <<: *PProviders
    url: "订阅链接"
    path: ./proxies/Airport1.yaml
global-ua: clash.meta
mode: rule
port: 7881
socks-port: 7882
mixed-port: 7890
redir-port: 7891
tproxy-port: 7892
allow-lan: true
bind-address: "*"
ipv6: true
unified-delay: true
tcp-concurrent: true
log-level: error
find-process-mode: "off"
global-client-fingerprint: chrome
keep-alive-idle: 600
keep-alive-interval: 15
disable-keep-alive: false
# 必须修改http/s5鉴权
authentication:
  - "user:password"
profile:
  store-selected: true
external-controller: 0.0.0.0:9090
external-ui: ui
external-ui-url: "https://github.com/Zephyruso/zashboard/releases/latest/download/dist.zip"
# 必须修改外部控制鉴权
secret: "password"
tun:
  enable: true
  device: mtun0
  stack: mixed
  dns-hijack:
    - "any:53"
    - "tcp://any:53"
  auto-route: true
  auto-redirect: true
  auto-detect-interface: true
sniffer:
  enable: true
  force-dns-mapping: true
  parse-pure-ip: true
  override-destination: true
  sniff:
    HTTP:
      ports: [80, 8080-8880]
    TLS:
      ports: [443, 8443]
    QUIC:
      ports: [443, 8443]
  skip-domain:
    - "Mijia Cloud"
    - "+.push.apple.com"
# 国内DNS建议改用运营商DNS
dns-groups-anchor:
  domestic_dns: &domestic_dns
    - "https://223.5.5.5/dns-query"
    - "https://223.6.6.6/dns-query"
  foreign_dns: &foreign_dns
    - "https://8.8.8.8/dns-query#代理"
    - "https://8.8.4.4/dns-query#代理"
dns:
  enable: true
  cache-algorithm: arc
  listen: 0.0.0.0:1053
  ipv6: true
  enhanced-mode: redir-host
  nameserver: *foreign_dns
  proxy-server-nameserver: *domestic_dns
  direct-nameserver: *domestic_dns
  nameserver-policy:
    "rule-set:steam@cn_domain,games-cn_domain,game-platforms-download_domain,entertainment-cn_domain,apple_domain,microsoft@cn_domain,cn_domain,custom_direct_class": *domestic_dns
proxy-groups-anchor:
  gwpr: &gwpr {type: select, proxies: [香港, 台湾, 新加坡, 日本, 美国, 直连]}
  gnpr: &gnpr {type: select, proxies: [直连, 香港, 台湾, 新加坡, 日本, 美国]}
  atgp: &atgp {type: url-test, include-all: true, tolerance: 50, interval: 300, max-failed-times: 3, hidden: true}
proxy-groups:
  - {name: 国内, <<: *gnpr}
  - {name: 电报, <<: *gwpr}
  - {name: 社媒, <<: *gwpr}
  - {name: AI, <<: *gwpr}
  - {name: 油管, <<: *gwpr}
  - {name: 谷歌, <<: *gwpr}
  - {name: 游戏, <<: *gwpr}
  - {name: 特殊, <<: *gwpr}
  - {name: 娱乐, <<: *gwpr}
  - {name: 涩涩, <<: *gwpr}
  - {name: 代理, <<: *gwpr}
  - {name: 兜底, <<: *gnpr}
  - {name: 香港, <<: *atgp, filter: "(?i)(香港)"}
  - {name: 台湾, <<: *atgp, filter: "(?i)(台湾)"}
  - {name: 新加坡, <<: *atgp, filter: "(?i)(新加坡)"}
  - {name: 日本, <<: *atgp, filter: "(?i)(日本)"}
  - {name: 美国, <<: *atgp, filter: "(?i)(美国)"}
  - {name: 直连, type: select, proxies: [DIRECT], url: "https://wifi.vivo.com.cn/generate_204", interval: 300, hidden: true}
rules:
  - RULE-SET,private_ip,直连,no-resolve
  - RULE-SET,steam@cn_domain,国内
  - RULE-SET,games-cn_domain,国内
  - RULE-SET,game-platforms-download_domain,国内
  - RULE-SET,entertainment-cn_domain,国内
  - RULE-SET,apple_domain,国内
  - RULE-SET,microsoft@cn_domain,国内
  - RULE-SET,telegram_domain,电报
  - RULE-SET,social-media-!cn_domain,社媒
  - RULE-SET,ai-!cn_domain,AI
  - RULE-SET,youtube_domain,油管
  - RULE-SET,google_domain,谷歌
  - RULE-SET,games-!cn_domain,游戏
  - DOMAIN-KEYWORD,sankaku,特殊
  - RULE-SET,mega_domain,特殊
  - RULE-SET,ehentai_domain,特殊
  - DOMAIN-KEYWORD,iwara,娱乐
  - DOMAIN-KEYWORD,emby,娱乐
  - RULE-SET,entertainment_domain,娱乐
  - RULE-SET,porn_domain,涩涩
  - RULE-SET,gfw_domain,代理
  - RULE-SET,geolocation-!cn_domain,代理
  - RULE-SET,cn_domain,国内
  - RULE-SET,telegram_ip,电报
  - RULE-SET,cn_ip,国内
  - RULE-SET,custom_direct_class,国内
  - RULE-SET,custom_proxy_class,代理
  - MATCH,兜底
rule-providers-anchor:
  ip: &ip {type: http, interval: 86400, behavior: ipcidr, format: mrs}
  domain: &domain {type: http, interval: 86400, behavior: domain, format: mrs}
  class: &class {type: http, interval: 86400, behavior: classical, format: text}
rule-providers:
  steam@cn_domain:
    <<: *domain
    path: ./rules/steam@cn_domain.mrs
    url: "https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/meta/geo/geosite/steam@cn.mrs"
  games-cn_domain:
    <<: *domain
    path: ./rules/games-cn_domain.mrs
    url: "https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/meta/geo/geosite/category-games-cn.mrs"
  game-platforms-download_domain:
    <<: *domain
    path: ./rules/game-platforms-download_domain.mrs
    url: "https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/meta/geo/geosite/category-game-platforms-download.mrs"
  entertainment-cn_domain:
    <<: *domain
    path: ./rules/entertainment-cn_domain.mrs
    url: "https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/meta/geo/geosite/category-entertainment-cn.mrs"
  apple_domain:
    <<: *domain
    path: ./rules/apple_domain.mrs
    url: "https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/meta/geo/geosite/apple.mrs"
  microsoft@cn_domain:
    <<: *domain
    path: ./rules/microsoft@cn_domain.mrs
    url: "https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/meta/geo/geosite/microsoft@cn.mrs"
  telegram_domain:
    <<: *domain
    path: ./rules/telegram_domain.mrs
    url: "https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/meta/geo/geosite/telegram.mrs"
  social-media-!cn_domain:
    <<: *domain
    path: ./rules/social-media-!cn_domain.mrs
    url: "https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/meta/geo/geosite/category-social-media-!cn.mrs"
  ai-!cn_domain:
    <<: *domain
    path: ./rules/ai-!cn_domain.mrs
    url: "https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/meta/geo/geosite/category-ai-!cn.mrs"
  youtube_domain:
    <<: *domain
    path: ./rules/youtube_domain.mrs
    url: "https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/meta/geo/geosite/youtube.mrs"
  google_domain:
    <<: *domain
    path: ./rules/google_domain.mrs
    url: "https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/meta/geo/geosite/google.mrs"
  games-!cn_domain:
    <<: *domain
    path: ./rules/games-!cn_domain.mrs
    url: "https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/meta/geo/geosite/category-games-!cn.mrs"
  mega_domain:
    <<: *domain
    path: ./rules/mega_domain.mrs
    url: "https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/meta/geo/geosite/mega.mrs"
  ehentai_domain:
    <<: *domain
    path: ./rules/ehentai_domain.mrs
    url: "https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/meta/geo/geosite/ehentai.mrs"
  entertainment_domain:
    <<: *domain
    path: ./rules/entertainment_domain.mrs
    url: "https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/meta/geo/geosite/category-entertainment.mrs"
  porn_domain:
    <<: *domain
    path: ./rules/porn_domain.mrs
    url: "https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/meta/geo/geosite/category-porn.mrs"
  gfw_domain:
    <<: *domain
    path: ./rules/gfw_domain.mrs
    url: "https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/meta/geo/geosite/gfw.mrs"
  geolocation-!cn_domain:
    <<: *domain
    path: ./rules/geolocation-!cn_domain.mrs
    url: "https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/meta/geo/geosite/geolocation-!cn.mrs"
  cn_domain:
    <<: *domain
    path: ./rules/cn_domain.mrs
    url: "https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/meta/geo/geosite/cn.mrs"
  private_ip:
    <<: *ip
    path: ./rules/private_ip.mrs
    url: "https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/meta/geo/geoip/private.mrs"
  telegram_ip:
    <<: *ip
    path: ./rules/telegram_ip.mrs
    url: "https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/meta/geo/geoip/telegram.mrs"
  cn_ip:
    <<: *ip
    path: ./rules/cn_ip.mrs
    url: "https://raw.githubusercontent.com/MetaCubeX/meta-rules-dat/meta/geo/geoip/cn.mrs"
  custom_direct_class:
    <<: *class
    path: ./rules/custom_direct_class.list
    url: "https://raw.githubusercontent.com/xiaojimie/Template-Config/main/custom_direct.list"
  custom_proxy_class:
    <<: *class
    path: ./rules/custom_proxy_class.list
    url: "https://raw.githubusercontent.com/xiaojimie/Template-Config/main/custom_proxy.list"
